/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~font-awesome/css/font-awesome.min';




footer {
  text-align: center;
  padding: 3px;
  background-color: #0a81ab ;
  color: white;
}
body
{
  max-width: 100%;
  overflow-x: hidden;
}

